.inputSearch {
  input {
    outline: none !important;
    box-shadow: none !important;
    margin-right: 1rem;
  }
  .form-group {
    margin-top: 1rem;

    display: flex;
    align-items: center;
    button {
      margin: 0;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}
